
# ----------------------------------------
# Данные для микросервиса DATACATALOGUE
# ----------------------------------------

# ----------------------------------------
# GRPC host and port
# ----------------------------------------
DATACATALOGUE_GRPC_HOST=localhost
DATACATALOGUE_GRPC_PORT=5052

# ----------------------------------------
# Logger settings
# ----------------------------------------
DATACATALOGUE_LOGGER_LEVEL=info
DATACATALOGUE_LOGGER_AS_JSON=true

# ----------------------------------------
# Postgres DB settings
# ----------------------------------------
DATACATALOGUE_CONTAINER_NAME=datacomradepostgres
DATACATALOGUE_POSTGRES_IMAGE=postgres:18.3-alpine3.23
DATACATALOGUE_POSTGRES_USER=postgres_user
DATACATALOGUE_POSTGRES_PASSWORD=pass
DATACATALOGUE_POSTGRES_HOST=localhost
# Внешний порт Postgres
DATACATALOGUE_POSTGRES_PORT=5432

DATACATALOGUE_POSTGRES_DB=dcat
