
# ----------------------------------------
# Данные для микросервиса DATACATALOGUE
# ----------------------------------------

# ----------------------------------------
# GRPC host and port
# ----------------------------------------
DATACATALOGUE_GRPC_HOST=${DATACATALOGUE_GRPC_HOST}
DATACATALOGUE_GRPC_PORT=${DATACATALOGUE_GRPC_PORT}

# ----------------------------------------
# Logger settings
# ----------------------------------------
DATACATALOGUE_LOGGER_LEVEL=${DATACATALOGUE_LOGGER_LEVEL}
DATACATALOGUE_LOGGER_AS_JSON=${DATACATALOGUE_LOGGER_AS_JSON}

# ----------------------------------------
# Postgres DB settings
# ----------------------------------------
DATACATALOGUE_CONTAINER_NAME=${DATACATALOGUE_CONTAINER_NAME}
DATACATALOGUE_POSTGRES_IMAGE=${DATACATALOGUE_POSTGRES_IMAGE}
DATACATALOGUE_POSTGRES_USER=${DATACATALOGUE_POSTGRES_USER}
DATACATALOGUE_POSTGRES_PASSWORD=${DATACATALOGUE_POSTGRES_PASSWORD}
DATACATALOGUE_POSTGRES_HOST=${DATACATALOGUE_POSTGRES_HOST}
# Внешний порт Postgres
DATACATALOGUE_POSTGRES_PORT=${DATACATALOGUE_POSTGRES_PORT}

DATACATALOGUE_POSTGRES_DB=${DATACATALOGUE_POSTGRES_DB}

# Миграции в go/goose
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://${DATACATALOGUE_POSTGRES_USER}:${DATACATALOGUE_POSTGRES_PASSWORD}@${DATACATALOGUE_POSTGRES_HOST}:${DATACATALOGUE_POSTGRES_PORT}/${DATACATALOGUE_POSTGRES_DB}
GOOSE_MIGRATION_DIR=./db/migrations
GOOSE_TABLE=tech.goose_migrations
