{{define "subject"}}Восстановление пароля{{end}}
{{define "plainBody"}}
Привет

TOKEN: {{.forgotPassword}}

Искренне ваш,
Робот-почтальон сайта
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Привет</p>
<p>TOKEN: {{.activationToken}}</p>
<p>Искренне ваш,
Робот-почтальон сайта</p>
</body>
</html>
{{end}}
