pgdata/
.env
.envrc
bin
tmp
.dev-env
testdata/
.idea
/bin
/build
/server
*/.env
documentation/readme_obsidian/datacomrade/.obsidian
documentation/.$data-catalog.drawio.bkp
/.venv
.venv
deploy/compose/sqlc/.python-version
deploy/compose/sqlc/schema.sql
__pycache__/
deploy/generators/build/
/documentation/readme_obsidian/datacomrade/01_architecture/arch.png
/graphify-out/
